extends layout

block content
	include working
	if(home)
		+stacks(dept,"",assignments,"art")
	else
		+stacks(dept,stack.stack,assignments,"art")

block wrapper
	if(home==true)
		div#wrapper
			div.welcome
				h3 Hey there, 
					span #{fname}
					|.

				if dept=="art"
					h4 Welcome to the Digital Edition Workflow Manager! At left, you&#8217'll see the stacks you can updates statuses for in the  
						span.date=dewm.dates.stringsFormatted[dewm.user.current]
						|  issue.
				else if dept=="makeup"
					h4 Welcome to the art section. As a member of the Makeup department (fancy!), you can check in on any one of the stacks for the 
						span.date=dewm.dates.stringsFormatted[dewm.user.current]
						|  issue at left.
	else
		div#wrapper.wide
			+viewer(dewm.weeks[user.current].green.split("/EDIT")[1]+"/"+stack.stack+"/"+stack.stack+".html")
			+comments
		script(src='/javascripts/art.js')