doctype html
html
	head
		title= "DEWM 2.0"
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/typography.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='//cdn.goroost.com/roostjs/15120f12cdc6420dbbbd09cc780f4145' async)
	body
		block content
		block wrapper
		script(src='/javascripts/dewm.js')
		script(src='/javascripts/login.js')
		script(src='/javascripts/utils.js')
