doctype html
html
	head
		title= "TNY DEWM 2.0"
		script(src='/javascripts/notifications.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/typography.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/dewm.js')
	body
		block content
		block wrapper
		script(src='/javascripts/utils.js')
		script(src='/javascripts/login.js')
