extends layout

block content
	include working

block wrapper
	div#wrapper
		h3 Hey there, 
			span #{fname}
			|.

		h4 Welcome to the Digital Edition Workflow Manager! You&#8217;re currently working on the 
			span.date=dewm.dates.stringsFormatted[dewm.current]
			|  issue.
		br
		h4 Click
			a(onclick="dewm.showMakeup()")  here
			|  to see an overview of this issue.