extends layout

block content
	include working

block wrapper
	h3 Hey there, 
		span #{fname}
		|.

	h4 You&#8217;re currently working on the 
		span.date=dewm.dates.stringsFormatted[dewm.current]
		|  issue.
	h4 Click
		a(onclick="dewm.showMakeup()")  here
		|  to see an overview of this issue.