html {
	height: 100%;
}

body {
	font-family:NeutraLight;
	height:calc(100% - 50px);
	padding:0;
	margin:0;
}

a {
	text-decoration: none;
	color:inherit;
}

pre {
	width:90%;
	padding:5%;
	font-size:14px;
	text-align: center;
}

h1, h2, h3 {
	text-align:center;
}

h1 {
	font-family:Irvin;
	margin-bottom:0;
}

h2 {
	font-family:NeutraLight;
	text-transform: uppercase;
	margin-top:5px;
	font-size: 18px;
}

h3, h4 {
	font-family:Caslon;
	text-align: left;
	padding: 20px 0;
	font-size: 23px;
	font-style: italic;
	font-weight: 100;
	padding-bottom: 0px;
	margin-bottom:0px;
}

h4 {
	font-size: 18px;
	margin:0;
	padding:0;
}

h3 span, h4 span {
	font-family:NeutraLight;
	text-transform: uppercase;
}

h4 span {
	font-size:15px;
}

ul {
	list-style:none;
	padding:0;
	margin:0;
}

fieldset {
	border:0px;
	text-align: center;
}

input, textarea {
	height:15px;
	border-radius: 5px;
	padding:10px;
	border:1px dotted gray;
	font-family:NeutraLight;
	font-size:18px;
	margin:0px 2px;
	resize:none;
}

.gray {
	color:gray;
	font-size: 13px;
}

.button {
	font-size:14px;
	color:white;
	text-transform: uppercase;
	font-weight: 800;
	padding:10px;
	width:200px;
	background:#d3d3d3;
	border-radius: 5px;
	margin:auto;
	text-align: center;
	border:0px;
	font-family: NeutraLight;
	display: inherit;
	cursor: pointer;
	margin-top: 15px;
	height:auto;
}

.button:hover {
	background:gray;
}

.error {
	color:#800000;
	text-transform: uppercase;
	font-weight: 800;
	font-family: NeutraDemi;
	margin:auto;
	text-align: center;
	padding:20px;
	font-size: 13px;
}

#eustace {
	margin:auto;
	margin-top:20px;
	width:25%;
	height:130px;
	background-size: contain;
	background-position: center;
	background-image: url('../images/eustace_trans.png');
	background-repeat: no-repeat;
	border-bottom:1px solid black;
}

#wrapper {
	width:calc(80% - 60px);
	height:100%;
	margin-top:50px;
	margin-left:20%;
	padding:0 30px;
	text-align: center;
}

#wrapper.wide {
	width:80%;
	padding:0 0;
}

#wrapper.full {
	width:90%;
	padding:0 0;
	margin:auto;
	margin-top:50px;
}

#wrapper a {
	color:gray;
	cursor: pointer;
}

#wrapper a:hover {
	color:black;
}

/* Login Page Styling */

#login {
	margin-top:50px;
	text-align: center;
}


#login submit {
	margin-top:20px;
}

/* Header Styling */

#header {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #f8f8f8;
	background: rgba(250,250,250,.9);
	top: 0;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	z-index:2;
}

#header #eustace {
	width: 50px;
	height: 50px;
	margin:0px 20px;
	float:left;
	border-bottom: 0px;
}

#header #tny {
	float:left;
	margin-top:7px;
}

#header #tny h2.short {
	display: none;
}

#header #user {
	float:right;
	margin:12px 15px;
}

#header h1 {
	float:left;
	margin-top:0px;
	font-size: 20px;
	clear:both;
}

#header h2 {
	float:left;
	margin-top:0px;
	font-size: 15px;
	clear: both;
}

#header h2.userName {
	float:right;
	clear:both;
	font-family:NeutraDemi;
	text-align: right;
	margin:0;
	padding:0;
}

#header h3 {
	text-align: right;
	font-size:13px;
	margin:0;
	padding:0;
}

#header select {
	margin-top:0;
	background: white;
}

#header .button {
	float: right;
	margin: 0 2px;
	margin-top: 12px;
	font-size:12px;
	width: auto;
	border-radius: 50%;
	padding:5px 8px;
}

#header .button#manage, #header .button#logout {
	width: 10px;
	height: 14px;
	background:url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/hand_poking_tool-.png') no-repeat white center center;
	background-size: 50%;
}

#header .button#logout {
	background-image:url('http://cdn.flaticon.com/png/256/32567.png');
}

#header #issues {
	float: right;
	margin-top: 10px;
}

#header .button#logout {
	margin-left:0;
}

#views {
	position: relative;
	top: 70px;
	width:calc(80% - 60px);
	margin-left:20%;
	padding:0 30px;
}

#views ul {
	margin-bottom:10px;
}

#views ul li {
	display:inline-block;
	text-transform: uppercase;
	font-size:12px;
	margin:0 14px;
	letter-spacing: 2px;
	color:gray;
	cursor: pointer;
	padding:5px;
	border-radius:8px;
}

#views ul li:hover {
	color:black;
	background:#fafafa;
}

#views ul li:first-child {
	margin-left:0px;
}

/* Alert styling */

#alert {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background: rgba(255,255,255,.85);
	z-index: 1;
	display: none;
}

#alert #alertContent {
	width:calc(50% - 40px);
	position:fixed;
	top:150px;
	left:25%;
	padding:20px;
	background:white;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	border-radius:10px;
}

#alert #alertContent h3 {
	font-size:17px;
	margin:0;
	padding:0;
}

#alert #alertContent .column {
	width:50%;
	display: inline-block;
	margin-top: 15px;
	text-align: center;
}

#alert #alertContent .column ul li {
	margin:5px 0;
	text-align:center;
}

#alert #alertContent select {
	margin:0;
	padding:0;
	padding-left:10px;
	border-radius: 0;
	height:inherit;
}

/* Admin Page Styline */

#admin {
	text-align: left;
}

#admin h1 {
	padding: 40px 0 10px 0;
}

#admin #userlist {
	width:90%;
	margin:5%;
	margin-top:0;
}

#admin .button {
	margin-bottom:30px;
}

#admin #userlist .user li {
	width:12%;
	padding:1%;
	display:inline-block;
	border:1px solid gray;
	border-bottom:0px;
	border-right:0px;
}

#admin #userlist .user li.header, #admin #userlist .user li.header.dept {
	font-family:NeutraDemi;
	font-size:10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#admin #userlist .user:last-child li {
	border-bottom:1px solid gray;
}

#admin #userlist .user li:nth-child(odd) {
	background:#f8f8f8;
}

#admin #userlist .user li:last-child {
	border-right:1px solid gray;
}

#admin #userlist .user li.edit {
	width:40%;
	text-align: center;
}

#admin #userlist .user li.dept {
	text-transform: capitalize;
}

#admin #userlist .user .button {
	width: auto;
	height: inherit;
	padding: 3px 29px;
	margin: 0 10px;
	font-size: 11px;
}

#adminEdit {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(255,255,255,.95);
	display: none;
}

#adminEdit .adminEditBox {
	width:calc(40% - 40px);
	height:500px;
	position:fixed;
	top:150px;
	left:30%;
	padding:20px;
	background:white;
	border-radius:10px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#adminEdit #adminAddNewUser, #adminEdit #adminEditUser {
	display:none;
}

#adminEdit input {
	width:calc(100% - 20px);
	margin:10px 0px;
}

select {
	font-family: NeutraLight;
	-webkit-appearance: none;
	border:1px solid #d3d3d3;
	height: 30px;
	font-size:13px;
	color:gray;
	width:100%;
	text-align: center;
	margin:10px 0;
	padding-left:10px;
}

#adminEdit .button {
	display: inline-block;
	width:38%;
	margin:10px 5%;
}

#adminEdit #close.button {
	width:30%;
}

#wrapper #adminEdit h2 {
	text-align: center;
}

/* regular content styling */

#wrapper h2 {
	text-align: left;
	font-size:24px;
	margin-top:40px;
}

/* stacks list styline */

#stacks {
	width:20%;
	position:fixed;
	top:50px;
	height:calc(100% - 50px);
	overflow-y:auto;
	overflow-x:hidden;
	border-right:1px solid #e0e0e0;
	z-index: 1;
}

#stacks .stack {
	width: calc(100% - 20px);
	padding: 10px;
	background: #f8f8f8;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
}

#stacks .stack.active {
	background: #e0e0e0;
}

#stacks .stack:hover {
	background:#eaeaea;
}

#stacks .stack div {
	display:inline-block;
}

#stacks .stack .number {
	width:calc(100% - 5px);
	margin-left:5px;
	color:gray;
	font-size:13px;
}

#stacks .stack .head {
	font-family: Caslon;
	font-style: italic;
	font-size:13px;
	width:70%;
	display:none;
}

#stacks .stack .head .title {
	font-family: Irvin;
	font-style: normal;
}

#stacks .stack .status {
	width:10%;
	display: none;
}

#stacks .stack .status div {
	width:15%;
	padding-bottom:15%;
	margin:0 8%;
	background:red;
	border-radius: 100%;
	cursor: pointer;
}

/* customize style for stacks menu for makeup staffers */

#stacks.makeup {
	width:100%;
}

#stacks.makeup .number {
	width:20%;
}

#stacks.makeup .status {
	width:5%;
	display: inline-block;
}

#stacks.makeup .head {
	width:70%;
	display: inline-block;
}

/* copy and art viewer styling */

#wrapper .loader {
	display: none;
}

#wrapper .welcome h4 {
	margin-top:10px;
}

#wrapper .welcome ul {
	text-align: left;
}

#wrapper .welcome ul li {
	list-style:inherit;
}

#wrapper .viewer {
	width:calc(100% - 20px);
	min-width: 970px;
	padding:30px 10px;
	margin:10px 0;
}

#wrapper .viewer #sidebar {
	width:calc(98% - 800px);
	max-width: 250px;
	min-width: 150px;
	margin:0 1%;
	display:inline-block;
}

#wrapper .viewer #sidebar h2 {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

#wrapper .viewer #sidebar h4 {
	margin:25px 0;
}


#wrapper .viewer #sidebar div {
	margin-top:25px;
}

#wrapper .viewer #sidebar div.switch, #wrapper .viewer #sidebar div.switchButton, #wrapper .viewer #sidebar div.status {
	margin-top:0;
}

#wrapper .viewer #sidebar h4.approve {
	margin:5px 0;
}

#wrapper .viewer #sidebar div.switch {
	margin:0;
}

#wrapper .viewer #sidebar img {
	cursor: pointer;
	margin:0 1%;
}

/* art viewer styling */

#wrapper .viewer #sidebar .art_status {
	display:inline-block;
	margin-bottom: 5px;
	padding-bottom:5px;
	border-bottom:1px dotted #e0e0e0;
	margin-top:0;
	width: 100%;
}

#wrapper .viewer #sidebar .art_status:last-child {
	border-bottom: 0;
}

#wrapper .viewer #sidebar .art_status h4 {
	margin:0;
	font-size:14px;
	float:left;
	width:calc(100% - 45px);
	margin-right:10px;
	text-align: right;
}

#wrapper .viewer #sidebar .art_status div {
	float:left;
}  
#wrapper .viewer #sidebar .art_status .switch {
	width: 35px;
	height: 20px;
}

#wrapper .viewer #sidebar .art_status .switchButton {
	height:18px;
	width:18px;
}

#wrapper .viewer #sidebar .art_status div.status.true .switchButton {
	margin-left:15px;
}

#wrapper #readers {
	width:100%;
	margin: 20px 0;
}

#wrapper .viewer #iframe {
	display:inline-block;
	text-align: center;
	width:65%;
	min-width: 800px;
	height: 100%;
}

#wrapper .viewer iframe {
	width:320px;
	height:480px;
	background: white;
	border:1px solid gray;
	margin:auto;
}

/* special makeup viewer */

#wrapper.makeup .viewer iframe {
	width:768px;
}

#wrapper.makeup .viewer {
	margin-top:10px;
	display: inline-block;
	display: none;
}

#wrapper .comments {
	width:calc(100% - 60px);
	height:calc(100% - 618px);
	padding:30px;
	background:#f8f8f8;
}

#wrapper .comments h2 {
	margin:0;
	margin-bottom: 15px;
}

#wrapper .comments h2 a {
	font-size: 11px;
	color: white;
	background: black;
	padding: 6px;
	border-radius: 10px;
	margin: 5px 15px;
	position: relative;
	top: -5px;
}

#wrapper .comments .newComment {
	width: 100%;
	height:0;
	overflow: hidden;
	text-align: left;
}

#wrapper .comments .newComment textarea {
	width: calc(100% - 85px);
	margin: 10px 0;
	height: 50px;
	font-size: 15px;
	float:left;
}

#wrapper .comments .newComment div {
	width:40px;
	padding:5px;
	margin:0 5px;
	margin-bottom: 5px;
	cursor: pointer;
	font-size: 11px;
	position: relative;
	top: 10px;
	text-transform: uppercase;
	background: black;
	color: white;
	display: inline-block;
	border-radius: 5px;
	float:left;
}

#wrapper .comments ul {
	width:100%;
}

#wrapper .comments ul li {
	display: inline-block;
	width: 100%;
	text-align: left;
}

#wrapper .comments ul li div {
	float:left;
}

#wrapper .comments ul li div {
	padding:5px 10px;
}

#wrapper .comments ul li div:first-child {
	padding-left: 0px;
}

#wrapper .comments ul li div:last-child {
	padding-right: 0px;
}

#wrapper .comments ul li div.timestamp {
	width:calc(15% - 10px);
	font-size: 11px;
	font-weight: bold;
}

#wrapper .comments ul li div.text {
	width:calc(70% - 20px);
	font-family: Caslon;
}

#wrapper ul li div.status {
	width:calc(15% - 10px);
	text-align: center;
}

#wrapper div.status .switch {
	width:45px;
	height:25px;
	margin-left:calc(50% - 20px);
	border-radius:25px;
	padding: 0;
}

#wrapper div.status.false .switch {
	background:red;
}

#wrapper div.status.true .switch {
	background:#39cb00;
}

#wrapper div.status .switch .switchButton {
	height:23px;
	width:23px;
	padding: 0;
	border:1px solid;
	border-radius:25px;
	background: white;
	cursor: pointer;
}

#wrapper div.status.false .switch .switchButton {
	border-color:red;
	margin-left:0px;
}

#wrapper div.status.true .switch .switchButton {
	border-color:#39cb00;
	margin-left:20px;
}

#wrapper.makeup h1 {
	margin-top:5px;
	text-align: left;
	font-size: 20px;
}

#wrapper.makeup h2 {
	margin-top:70px;
	margin-bottom:0px;
	font-size: 11px;
}

#wrapper.makeup h4 {
	margin-top:10px;
	font-size: 15px;
}

#wrapper.makeup p, #wrapper.makeup .action .text {
	font-size:11px;
	line-height: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
}

#wrapper.makeup span.info {
	font-size:14px;
	font-family: Caslon;
	text-transform: none;
	letter-spacing: 0px;
	font-style:italic;
}

#wrapper.makeup .buttons {
	width:30%;
	float:right;
	margin-top:10px;
}

#wrapper.makeup .meta {
	width:calc(70% - 30px);
	padding:0px;
	margin-top:10px;
	float:left;
}

#wrapper.makeup .buttons .button {
	width:calc(100% - 20px);
	margin-top:0;
	margin-bottom:5px;
	text-align: center;
}

#wrapper.makeup .buttons .button a {
	color:white;
}

#wrapper.makeup .status, #wrapper.makeup .actions {
	width:100%;
	padding:5px 0px;
	margin:10px 0px;
	margin-top:0;
	float:left;
}

#wrapper.makeup .status ul.overview {
	text-align: left;
	margin-top:5px;
}

#wrapper.makeup .status ul.overview li, #wrapper.makeup .status ul.depth li, #wrapper.makeup .actions ul li {
	width:calc(33.33% - 2px);
	display: inline-block;
	text-transform: uppercase;
	color: white;
	font-weight: 800;
	font-size: 12px;
	padding:5px 0;
	margin:0 1px;
	text-align: center;
	background: #d3d3d3;
	cursor:pointer;
	float:left;
}

#wrapper.makeup .status ul.overview li.red, #wrapper.makeup .status ul.depth li .chart .arc.red {
	background:#940000;
	fill:#940000;
}

#wrapper.makeup .status ul.overview li.orange, #wrapper.makeup .status ul.depth li .chart .arc.orange {
	background:#f0a417;
	fill:#f0a417;
}

#wrapper.makeup .status ul.overview li.green, #wrapper.makeup .status ul.depth li .chart .arc.green {
	background:#10ad00;
	fill:#10ad00;
}

#wrapper.makeup .status ul.overview li:first-child {
	border-radius:7px 0 0 7px;
}

#wrapper.makeup .status ul.overview li:last-child {
	border-radius:0 7px 7px 0;
}

#wrapper.makeup .status ul.depth li {
	background: none;
	color: black;
	float:left;
}

#wrapper.makeup .status ul.depth li:first-child {
	margin-left: 0;
}

#wrapper.makeup div h2 {
	font-size:16px;
	margin:0;
}

#wrapper.makeup .status ul.depth li .chart {
    width: 100%;
    float: left;
}

#wrapper.makeup .status ul.depth li rect {
	fill: #FFFFFF;
	fill-opacity: 0.01;
}

#wrapper.makeup .status ul.depth li path {
	fill:#f8f8f8;
}

#wrapper.makeup .status ul.depth li p {
	width:80%;
	margin:auto;
	font-family: Caslon;
	font-style: italic;
	text-transform:none;
	font-weight: normal;
	font-size:16px;
	line-height: 20px;
	letter-spacing: 0;
	text-align: center;
}

#wrapper.makeup .actions ul li {
	background:none;
	color:black;
}

#wrapper.makeup .actions ul li h2, #wrapper.makeup .actions ul li h3 {
	text-align: center;
	margin:0;
	padding: 0;
	cursor: auto;
	margin-bottom:5px;
}

#wrapper.makeup .actions ul li h3 {
	text-transform: none;
	font-size: 14px;
}

#wrapper.makeup .actions .edit {
	display: inline;
	font-size: 10px;
	background: #d3d3d3;
	padding: 5px;
	margin-left: 10px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	position: relative;
	top: -2px;
}

#wrapper.makeup .actions ul li .button {
	margin:auto;
	margin-bottom:10px;
}

#wrapper.makeup .actions ul li .status {
	padding-bottom:0;
	margin-bottom:0;
	border-top: 1px dotted #d3d3d3;
}

#wrapper.makeup .actions ul li .status.first {
	border-top:1px white solid;
	padding-top: 0;
}

#wrapper.makeup .actions ul li .status.active {
	background:#fffcca;
}

#wrapper.makeup .actions ul li p {
	width: calc(100% - 60px);
	margin: 15px 0;
	margin-top: 13px;
	padding-right: 10px;
	float: left;
	text-align: left;	
}

#wrapper.makeup .actions ul li div.status .switch {
	margin-top:5px;
	cursor: pointer;
}

#wrapper.makeup .actions ul li div.status {
	width:calc(100% - 40px);
	margin:0 20px;
	cursor: default;
}

#wrapper.makeup .actions ul li div.status span {
	font-family: Caslon;
	text-transform: none;
	letter-spacing: 0;
	font-style: italic;
	font-size: 12px;
	font-weight: normal;
}

#wrapper.makeup .actions ul li p.narrow {
	width: calc(100% - 100px);
}

#wrapper.makeup .actions ul li p.wide {
	width:100%;
	text-align: center;
	font-family:NeutraDemi;
}

#wrapper.makeup .actions ul li p.add { 
	width: calc(100% - 60px);
}

#wrapper.makeup .actions ul li div.change {
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 10px;
	float: left;
	color: white;
	margin: 8px 10px 5px 5px;
	font-size: 17px;
	cursor: pointer;
	text-align: center;
}

#wrapper.makeup .actions ul li p.layout {
	width:90px;
	text-align: center;
	padding:0;
	font-family:NeutraDemi;
}

#wrapper.makeup .actions ul li p.null {
	color:red;
}

#wrapper.makeup .actions ul li .status .switch {
	margin-left:0;
	float: left;
}

#wrapper.makeup .actions ul li div.add {
	float:left;
	width:100%;
	height: 0;
	overflow:hidden;
}

#wrapper.makeup .actions ul li div.add .button {
	padding: 5px;
	display: inline-block;
	margin:0 5px;
	width: 50px;
	font-size: 11px;
}

#wrapper.makeup .actions ul li p.message {
	color:#800000;
	text-align: center;
	width: 80%;
	line-height: 16px;
	padding: 0 10%;
}

@media (max-width: 800px) {
	#header #eustace {
		display: none;
	}
	#header #tny {
		margin-left:10px;
		margin-top:10px;
	}
	#header #tny h1 {
		font-size:17px;
	}
	#header #tny h2.long {
		display:none;
	}
	#header #tny h2.short {
		display:block;
		font-size:13px;
	}
}

@media (max-width: 500px) {
	#header {
		height:80px;
	}
	#header #tny {
		width:100%;
		margin-left:0px;
	}
	#header h1 {
		text-align: center;
		width:100%;
	}
	#header #tny h2.short {
		display: none;
	}
}



